project-root/|-- index.html|-- css/|-- style.css|-- images/|-- js/ :root {
  --irish: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --conrflower: #e7e9fc;
  --cloud: #f4f4fd;
}

:root {
  --main-text-color: var(--navyblue);
  --background-color: #ffffff;
  --font-size: 16px;
  --logo-text-color: #4d5ae5;
  --link-text-color: #2e2f42;
  --hovered-link-text-color: #404bbf;
}

body {
  color: #434455;
  background: #ffffff;
}

/* other styles for the link */

/* Styles for when the link is being hovered over */
&:hover {
  color: #404bbf;
}

.logo {
  color: var(--logo-text-color);
}

.header {
  background-color: #ffffff;
  font-size: 16px;
}

.body {
  color: #434455;
  background: #ffffff;
}

/* GENERAL STYLING*/

.list {
  list-style: none;
  padding-left: 0;
}

.bg-dark {
  background-color: #2e2f42;
}

.logo span {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-web span {
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center; /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.p-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5; /* 120% */
  letter-spacing: 0.4px;
}

.p-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/*END OF THE GENERAL STYLING*/

/*HEADER STYLING*/
.logo-studio-nav {
  color: #2e2f42;
}

.nav-link :active {
  font-weight: 500;
  line-height: 1.5; /*150% */
  letter-spacing: 0.32px;
  color: var(--navyblue);
}

.nav-link: hover {
  color: #404bbf;
}

.nav-link: focus {
  color: #404bbf;
}
.nav-link {
  color: var(--ocean);
}

.link-contacts {
  color: #434455;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/*END OF HEADER STYLING*/

/*HERO SECTION*/
.hero {
  text-align: center;
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  padding-top: 50px;
}
.hero-text {
  color: white;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  text-transform: capitalize;
}

.hero-btn {
  background-color: var(--irish);
  border: none;
  border-radius: 4px;
  color: white;
}

/*TEAM SECTION STYLING*/
.team-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5; /* 120% */
  letter-spacing: 0.4px;
}

.team-title {
  color: var(--SLATE, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/*END OF HEADER STYLING*/

/*FOOTER STYLING*/
.logo-studio-footer {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  line-height: 24px; /* 150% */
  letter-spacing: 1.5;
}
/*END OF FOOTER STYLING*/
