:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #404bbf;
  --whitecolor: #ffffff;
  --slatecolor: #434455;
  --cornflowercolor: #e7e9fc;
  --cloudcolor: #f4f4fd;
  --greencolor: #31d0aa;
  --lightslatecolor: #8e8f99;
  --navybluemodalcolor: #2e2f42;
  --greycolor: #2e2f42;
  --dairycolor: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --text-color: #434455;
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --link-color: #2e2f42;
  --hover-color: #404bbf;
}

/* Main Page */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  font-size: 18px;
}

/* GENERAL STYLING*/

.navigation {
  list-style: none;
  padding-left: 0;
}

.bg-dark {
  background-color: #2e2f42;
}

.logo span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-web span {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  /* letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  width: 44px;
  height: 21px;
  flex-direction: column;
  justify-content: center; */
}

.list {
  text-decoration: none;
  list-style: none;
}

.navigation {
  text-decoration: none;
  list-style: none;
}

.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center; /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.title {
  text-align: center;
  text-transform: capitalize;
}

.p-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.p-text {
  color: var(--SLATE, #434455);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/*END OF THE GENERAL STYLING*/

/*HEADER STYLING*/
.logo-web {
  color: var(--iriscolor);
  text-decoration: none;
  list-style: none;
}

.logo-studio-nav {
  color: #2e2f42;
  text-decoration: none;
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo-text {
  font-weight: 800;
  line-height: 1.7; /*150% */
  letter-spacing: 0.32px;
  color: var(--navyblue);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

.logo-text:hover {
  color: #404bbf;
}

.logo-text:focus {
  color: #404bbf;
}

/* .logo-text:active {
  color: #404bbf;
} */

.logo-text {
  font-weight: 800;
  line-height: 1.7; /*150% */
  letter-spacing: 0.32px;
  color: var(--navyblue);
  font-size: 16px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  list-style: none;
}

.link-contacts {
  color: #434455;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

/*END OF HEADER STYLING*/

/*HERO SECTION*/
.hero {
  text-align: center;
  background-color: #2e2f42;
  /* width: 1440px; */
  /* height: 600px; */
  flex-shrink: 0;
  padding-top: 50px;
}
.hero-text {
  color: white;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  text-transform: capitalize;
  font-style: "Roboto", sans-serif;
}

.hero-btn {
  background-color: var(--irish);
  border: none;
  border-radius: 4px;
  color: white;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*TEAM SECTION STYLING*/
.team-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  list-style: none;
}

.team-title {
  color: var(--SLATE, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  list-style: none;
}

/*END OF HEADER STYLING*/

/*FOOTER STYLING*/

.logo-web-footer {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  /* letter-spacing: 0.54px; */
  text-transform: uppercase;
}

.logo-studio-footer {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/* END OF FOOTER STYLING */
